!!!
%html
	%head
		%title User #{@user.name}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
			%body
				.page-wrapper
					.header
						%p					
							- if current_user
								%a{ :href => "/users/#{current_user.id}"} My Profile|
								%a{ :href => "/admin"} Admin Home|	
								%a{ :href => "/admin/new" } Create New User|
								%a{ :href => "/help"} Help|											 
								%a{ :href => "/logout"} Logout
					- if @user
						%ul
							%li
								%p
									%h2 #{@user.name} (#{@user.uid})
							%li																													
								%h3 
									Nagios Host Groups:
								#{@user.host_groups}
							%li
								%h3
									Description
								%p
									#{@user.description} 
							%li
								%h3
									Token is #{@user.revoked ? 'revoked' : 'valid' }
								%p
									API Token: #{@user.token} 
							%li
								%h3
									Email Notification 
								%div
									#{@user.email_notification_on ? 'on' : 'off' }
							%li
								%h3
									Email Notification Address 
								%div
									#{@user.email_notification_address}
							%li	
								%br		
									%a{ :href => "/admin/#{@user.id}/edit"}
										Edit User					
																
					- else
						%p user not found