!!!
%html
	%head
		%title User #{@user.name}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style.css'}
			%body
				.page-wrapper
					.header
						%p					
							- if current_user
								%a{ :href => "/users/#{current_user.id}"} My Profile|
								%a{ :href => "/admin"} Admin Home|	
								%a{ :href => "/admin/new" } Create New User|
								%a{ :href => "/help"} Help|										 
								%a{ :href => "/logout"} Logout
					- if @user
						%form{ :action => "/admin/#{@user.id}", :method => "post"}
							%input{:type => "hidden", :name => "_method", :value => "put" }
								%ul
									- if flash[:error]
										%li
											%h3.error Error: #{flash[:error]}
									%li
										%h3
											User Name	
										%input{:type => "text", :name => "user[name]", :value => "#{@user.name}" }
									%li																													
										%h3 
											Nagios Host Groups
										%textarea{:name => "user[host_groups]", :type => "textarea", :rows => "4", :cols => "100" }
											#{@user.host_groups}
										%p											
											Comma-separated list of allowed Nagios Host Groups.
											%br Example:  WEB1, DATABASES, BACKEND_HOSTS
											<b>ALL</b> or <b>NONE</b> keywords can also be used
									%li
										%h3
											Description
										%textarea{ :name => "user[description]",  :type => "textarea", :rows => "4", :cols => "100" }
											#{@user.description}
									%li
										%h3
											%input{:type => "checkbox", :name => "user[revoked]", :checked => !!@user.revoked } revoke token
											%p
												(user will not be able to call API)
										%p
											API Token: #{@user.token} 												
									%li
										%h3
											%input{:type => "checkbox", :name => "user[email_notification_on]", :checked => !!@user.email_notification_on } email notification?
											%p
												(email sent for every api action)	
									%li
										%h3
											Notification Email Address	
										%input{:type => "text", :name => "user[email_notification_address]", :value => "#{@user.email_notification_address}" }								
									%li
										%br
											%input{:type => "submit", :value => "update user"}|
											%a{ :href => "/admin/#{@user.id}/delete"}Delete User								
					- else
						%p user not found